.wrapper {
    color: #f9004d;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 100px 0;
    justify-content: space-around;

}

.wrapper h2 {
    font-weight: 800;
    font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    color: white;
}

.wrapper p {
    font-weight: 100;
    font-size: calc(4px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    color: rgba(198, 201, 216, .75);
}

.rightWrapper img {
    width: 500px;

}

.rightWrapper {
    display: flex;
}

@media (max-width: 1080px) {
    .wrapper {
        justify-content: center;
    }

    .rightWrapper img {
        display: none
    }
}