.wrapper {
    color: #f9004d;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
    justify-content: center;
}

.wrapper h2 {
    font-weight: 800;
    font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    color: white;
}

.wrapper p {
    font-weight: 100;
    font-size: calc(4px + (16 + 16 * 0.7) * ((100vw - 320px) / 1440));
    color: rgba(198, 201, 216, .75);
    width: 700px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .wrapper p {
        text-align: center;
        width: 320px;
    }

    .wrapper {

        margin-top: 50px;

    }
}